@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

main {
  flex-grow: 1;
}

.action {
  cursor: pointer
}

li {
  line-height: 1.5rem;
  list-style: none;
  &:hover{
    background-color: lighten($dark, 10);
  }
}
